.settingsPage{
    
    margin-left: 600px;
    font-size: 30px;
}

.CongifTitlle{
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.TitleSettings{
    margin-top: 40px;
}


.user{
    border-width: 3px;
    border-radius: 10px;
    margin-right: 700px;
    margin-top: 200px;
}

.dashboardsFavoritos p{
    font-size: 20px;
}

.vozDeLeitura{
    margin-top: 50px;
}

.vozDeLeitura p{
    font-size: 20px;
}

.idiomaSettings{
    margin-top: 50px;
}

.idiomaSettings p{
    font-size: 20px;
}

.notificacoes{
    margin-top: 50px;
}

.notificacoes p{
    font-size: 20px;
}

.settingsSair{
    margin-top: 750px;
    font-size: 20px;
}